{{set . "title" "Home"}}
{{template "header.html" .}}

<header class="hero-unit" style="background-color:#A9F16C">
  <div class="container">
    <div class="row">
      <div class="hero-text">
        <h1>Simulating FIR</h1>
        <p>Took {{.sim.Duration}}</p>
      </div>
    </div>
  </div>
</header>


<form action="/SimpleFir/SetInput">
  <fieldset>
    <legend>Raw Input</legend>
    <div class="form-group">
      <label for="rawInput">Values</label>
      <input type="text" id="rawInput" name="input" value="{{.sim.Input}}" placeholder="[0 1 2 3]">
    </div>

  <button class="btn btn-default" type="submit">Submit</button>
  </fieldset>

</form>

<div class="container">
  <div class="row">
    <div class="span6">
      {{template "flash.html" .}}
    </div>
  </div>
</div>

{{template "footer.html" .}}
